{% extends 'base.html' %}

{% block title %}{{ post.title }} — Analis Siber Purwakarta{% endblock %}

{% block content %}
<article class="post-container">
  <h1 class="article-title">{{ post.title }}</h1>
  <div class="post-meta">{{ post.date }}</div>
  <div class="tags mb-1-5">
    {% for tag in post.tags %}
    <a href="{{ base_url }}/tag/{{ tag }}.html" class="tag-badge">#{{ tag }}</a>
    {% endfor %}
  </div>

  <div class="article-body">
    {{ post.html_content|safe }}
  </div>

  <div class="giscus-wrapper">
    <script src="https://giscus.app/client.js" data-repo="analissiberpurwakarta/blog" data-repo-id="R_kgDOTuVy2A"
      data-category="General" data-category-id="DIC_kwDOTuVy2M4DETLx" data-mapping="pathname" data-strict="0"
      data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="cobalt" data-lang="en"
      crossorigin="anonymous" async>
      </script>
  </div>
</article>
{% endblock %}