{% extends 'base.html' %}

{% block title %}{{ post.title }} — Analis Siber Purwakarta{% endblock %}

{% block content %}
<article class="post-container">
  <h1 class="article-title">{{ post.title }}</h1>
  <div class="post-meta">{{ post.date }}</div>
  <div class="tags mb-1-5">
    {% for tag in post.tags %}
    <a href="{{ base_url }}/tag/{{ tag }}.html" class="tag-badge">#{{ tag }}</a>
    {% endfor %}
  </div>

  <div class="article-body">
    {{ post.html_content|safe }}
  </div>
</article>
{% endblock %}